ADMIN_EMAIL=admin@dtcv.com
ADMIN_PASSWORD=this_password_is_insecure_and_should_be_updated

NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_SUPABASE_URL="http://127.0.0.1:8000"
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE
SUPABASE_PRIVATE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q

N8N_API_URL=http://127.0.0.1:5678/api/v1
DTCC_CORE_API_URL=http://127.0.0.1:8001
SPECKLE_API_URL=http://127.0.0.1:8080

NEXT_PUBLIC_MVT_URL=replace_with_your_url
NEXT_PUBLIC_TILE_3D_URL=replace_with_your_url   
NEXT_PUBLIC_TILE_3D_API_KEY=replace_with_your_api_key
NEXT_PUBLIC_TERRAIN_URL=replace_with_your_url
NEXT_PUBLIC_TERRAIN_TEXTURE_URL=replace_with_your_url

GOOGLE_URL=replace_with_your_url
GOOGLE_API_KEY=replace_with_your_api_key
GOOGLE_CLIENT_ID=replace_with_your_client_id
GOOGLE_CLIENT_SECRET=replace_with_your_client_secret

