@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-energy-1: 171 213 40;
    --color-energy-2: 98 181 38;
    --color-energy-3: 244 246 42;
    --color-energy-4: 244 161 108;
    --color-energy-5: 240 72 177;
    --color-energy-6: 164 36 207;
    --color-energy-7: 88 0 237;
  }
  .action-panel div {
    @apply first:rounded-l-full last:rounded-r-full;
  }
  .button-rounded {
    @apply flex items-center gap-1 py-2.5 pl-4 pr-6 text-sm text-left text-white bg-gray-700 border border-gray-300 rounded-full disabled:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600 hover:bg-gray-500;
  }
  body::-webkit-scrollbar,
  textarea::-webkit-scrollbar,
  .scroll-child::-webkit-scrollbar {
    @apply w-2.5;
  }
  body::-webkit-scrollbar-track,
  textarea::-webkit-scrollbar-track,
  .scroll-child::-webkit-scrollbar-track {
    @apply bg-gray-200;
  }
  body::-webkit-scrollbar-thumb,
  textarea::-webkit-scrollbar-thumb,
  .scroll-child::-webkit-scrollbar-thumb {
    @apply border-2 border-gray-200 border-solid rounded-md bg-gray-500;
  }
  input[type='text'] {
    @apply bg-transparent;
  }
  .checkmark {
    @apply transform translate-x-[7px] translate-y-[1px] content-[''] hidden w-2 h-4 border-white border-[3px] border-t-0 border-l-0 rotate-45;
  }
}

html,
textarea,
.scroll-child {
  scroll-behavior: smooth !important;
  scrollbar-width: thin;
  scrollbar-color: theme('colors.gray.500') white;
}

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
