@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-energy-1: 171 213 40;
    --color-energy-2: 98 181 38;
    --color-energy-3: 244 246 42;
    --color-energy-4: 244 161 108;
    --color-energy-5: 240 72 177;
    --color-energy-6: 164 36 207;
    --color-energy-7: 88 0 237;
  }
  .action-panel div {
    @apply first:rounded-l-full last:rounded-r-full;
  }
}

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
